/*
Color Scheme Colors
Navy = #1e3d59
Almond = #f5f0e1
Darker Almond: #EED9C4
Red-Orange = #ff6e40
Mango = #ffc13b
Turqoise: #1e847f
*/

body {
	background-color: #1e3d59;
	font-family: "lato", sans-serif;
}

h1 {
	color: #ffc13b;
	text-align: center;
}

table {
	max-width: 800px;
	margin: 10px auto;
	padding: 5px 10px;
}

h2 {
	font-size: 26px;
	margin: 20px 0;
	text-align: center;
	/* small {
		font-size: 0.5em;
	} */
}

.responsive-table {
	background-color: #f5f0e1;
}

.responsive-table tr {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.table-header {
	background-color: #ffc13b;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	box-shadow: 0px 0px 9px 0px rgba(255, 110, 64, 0.5);
}

thead.table-header {
	border-radius: 3px;
	padding: 25px 30px;
	justify-content: space-between;
	margin-bottom: 25px;
}

.table-row {
	background-color: #eed9c4;
	box-shadow: 0px 0px 9px 0px rgba(255, 110, 64, 0.5);
}
